a:hover {
    color: #E27689;
    border-bottom-color: rgba(255, 255, 255, 0);
}

/* bottom */
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
.button:hover {
    background-color: #9ececc;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
button:active,
.button:active {
    background-color: #7eaeac;
}


/* form */


form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form select:focus,
form textarea:focus {
    box-shadow: 0 0 2px 1px #8ebebc;
    background: #fff;
}

form ::-webkit-input-placeholder {
    color: #555 !important;
}

form :-moz-placeholder {
    color: #555 !important;
}

form ::-moz-placeholder {
    color: #555 !important;
}

form :-ms-input-placeholder {
    color: #555 !important;
}

form ::-moz-focus-inner {
    border: 0;
}

/* header */
#header .icons a:hover {
    color: #fff;
}



/* main */
#main > section.dark a:hover {
    border-bottom-color: rgba(255, 255, 255, 0);
}